openapi: "3.0.3"
info:
  title: OPINION Prediction Market OpenAPI
  version: "1.0.0"
  description: >
    RESTful API for accessing OPINION Prediction Markets.
    Provides read-only access to market data, orderbooks, and price information.
    For trading operations, use the Opinion CLOB SDK.

servers:
  - url: https://proxy.opinion.trade:8443/openapi
    description: Production server

security:
  - ApiKeyAuth: []

tags:
  - name: Market
    description: Market listing and details
  - name: Token
    description: Token price and orderbook operations
  - name: QuoteToken
    description: Quote token (currency) operations
  - name: Trade
    description: User trade history operations
  - name: Position
    description: User position (portfolio) operations
  - name: Order
    description: User order list and order detail (authenticated)

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: apikey
      description: API key for authentication

  schemas:
    APIBaseResponse:
      type: object
      properties:
        code:
          type: integer
          description: Response code (0 for success)
        msg:
          type: string
          description: Response message
        result:
          type: object
          description: Response data

    # Market schemas
    MarketListResponse:
      type: object
      properties:
        total:
          type: integer
          format: int64
          description: Total number of markets
        list:
          type: array
          items:
            $ref: "#/components/schemas/MarketData"

    MarketDetailResponse:
      type: object
      properties:
        data:
          $ref: "#/components/schemas/MarketData"

    MarketData:
      type: object
      properties:
        marketId:
          type: integer
          format: int64
          description: Market ID
        marketTitle:
          type: string
          description: Market title
        status:
          type: integer
          description: "Market status: 1=Created, 2=Activated, 3=Resolving, 4=Resolved, 5=Failed, 6=Deleted"
          enum: [1, 2, 3, 4, 5, 6]
        statusEnum:
          type: string
          description: Human-readable status
          enum: [Created, Activated, Resolving, Resolved, Failed, Deleted]
        marketType:
          type: integer
          description: "Market type: 0=Binary, 1=Categorical"
          enum: [0, 1]
        childMarkets:
          type: array
          items:
            $ref: "#/components/schemas/ChildMarketData"
          description: Child markets (for categorical markets)
        yesLabel:
          type: string
          description: Yes outcome label
        noLabel:
          type: string
          description: No outcome label
        rules:
          type: string
          description: Market rules
        yesTokenId:
          type: string
          description: Yes outcome token ID
        noTokenId:
          type: string
          description: No outcome token ID
        conditionId:
          type: string
          description: Condition ID
        resultTokenId:
          type: string
          description: Result token ID (after resolution)
        volume:
          type: string
          description: Total trading volume
        volume24h:
          type: string
          description: 24-hour trading volume
        volume7d:
          type: string
          description: 7-day trading volume
        quoteToken:
          type: string
          description: Quote token address
        chainId:
          type: string
          description: Chain ID
        questionId:
          type: string
          description: Question ID
        incentiveFactor:
          type: object
          description: Incentive factor (masked as empty object)
        collection:
          $ref: "#/components/schemas/CollectionDataOpenAPI"
        createdAt:
          type: integer
          format: int64
          description: Creation timestamp
        cutoffAt:
          type: integer
          format: int64
          description: Cutoff timestamp
        resolvedAt:
          type: integer
          format: int64
          description: Resolution timestamp

    ChildMarketData:
      type: object
      properties:
        marketId:
          type: integer
          format: int64
        marketTitle:
          type: string
        status:
          type: integer
        statusEnum:
          type: string
        yesLabel:
          type: string
        noLabel:
          type: string
        rules:
          type: string
        yesTokenId:
          type: string
        noTokenId:
          type: string
        conditionId:
          type: string
        resultTokenId:
          type: string
        volume:
          type: string
        quoteToken:
          type: string
        chainId:
          type: string
        questionId:
          type: string
        createdAt:
          type: integer
          format: int64
        cutoffAt:
          type: integer
          format: int64
        resolvedAt:
          type: integer
          format: int64

    CollectionDataOpenAPI:
      type: object
      description: Collection market data (for recurring/time-series markets)
      properties:
        title:
          type: string
          description: Collection title
        symbol:
          type: string
          description: Collection symbol
        frequency:
          type: string
          description: Collection frequency (e.g., daily, weekly)
        current:
          $ref: "#/components/schemas/CollectionMarketDataOpenAPI"
        next:
          type: array
          items:
            $ref: "#/components/schemas/CollectionMarketDataOpenAPI"
          description: Upcoming period markets

    CollectionMarketDataOpenAPI:
      type: object
      description: Collection market period data
      properties:
        marketId:
          type: integer
          format: int64
          description: Market ID
        period:
          type: string
          description: Period identifier
        startTime:
          type: integer
          format: int64
          description: Period start timestamp
        endTime:
          type: integer
          format: int64
          description: Period end timestamp
        startPrice:
          type: string
          description: Starting price for this period
        endPrice:
          type: string
          description: Ending price for this period

    # Token schemas
    LatestPriceResponse:
      type: object
      properties:
        tokenId:
          type: string
          description: Token ID
        price:
          type: string
          description: Latest trade price
        side:
          type: string
          description: Last trade side (BUY/SELL)
        size:
          type: string
          description: Last trade size
        timestamp:
          type: integer
          format: int64
          description: Trade timestamp in milliseconds

    OrderbookResponse:
      type: object
      properties:
        market:
          type: string
          description: Condition ID
        tokenId:
          type: string
          description: Token ID
        timestamp:
          type: integer
          format: int64
          description: Timestamp in milliseconds
        bids:
          type: array
          items:
            $ref: "#/components/schemas/OrderbookLevel"
          description: Buy orders, sorted by price descending
        asks:
          type: array
          items:
            $ref: "#/components/schemas/OrderbookLevel"
          description: Sell orders, sorted by price ascending

    OrderbookLevel:
      type: object
      properties:
        price:
          type: string
          description: Price level
        size:
          type: string
          description: Total size at this price level

    PriceHistoryResponse:
      type: object
      properties:
        history:
          type: array
          items:
            $ref: "#/components/schemas/PricePoint"
          description: Historical price data points

    PricePoint:
      type: object
      properties:
        t:
          type: integer
          format: int64
          description: UTC timestamp in seconds
        p:
          type: string
          description: Price

    # QuoteToken schemas
    QuoteTokenListResponse:
      type: object
      properties:
        total:
          type: integer
          format: int64
          description: Total number of quote tokens
        list:
          type: array
          items:
            $ref: "#/components/schemas/QuoteTokenData"

    QuoteTokenData:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Quote token ID
        quoteTokenName:
          type: string
          description: Quote token name
        quoteTokenAddress:
          type: string
          description: Quote token contract address
        ctfExchangeAddress:
          type: string
          description: CTF Exchange contract address
        decimal:
          type: integer
          description: Token decimals
        symbol:
          type: string
          description: Token symbol
        chainId:
          type: string
          description: Chain ID
        createdAt:
          type: integer
          format: int64
          description: Creation timestamp

    # Trade schemas
    UserTradeListResponse:
      type: object
      properties:
        total:
          type: integer
          format: int64
          description: Total number of trades
        list:
          type: array
          items:
            $ref: "#/components/schemas/UserTradeData"

    UserTradeData:
      type: object
      description: Trade data for querying other users' trades (orderNo and tradeNo are hidden for privacy)
      properties:
        txHash:
          type: string
          description: Transaction hash
        marketId:
          type: integer
          format: int64
          description: Market ID
        marketTitle:
          type: string
          description: Market title
        rootMarketId:
          type: integer
          format: int64
          description: Root market ID (for categorical markets)
        rootMarketTitle:
          type: string
          description: Root market title
        side:
          type: string
          description: Trade side (BUY/SELL)
        outcome:
          type: string
          description: Outcome label
        outcomeSide:
          type: integer
          description: "Outcome side: 1=Yes, 2=No"
          enum: [1, 2]
        outcomeSideEnum:
          type: string
          description: Human-readable outcome side
          enum: [Yes, No]
        price:
          type: string
          description: Trade price
        shares:
          type: string
          description: Number of shares traded
        amount:
          type: string
          description: Trade amount in quote token
        fee:
          type: string
          description: Fee amount (human-readable format)
        profit:
          type: string
          description: Profit/loss
        quoteToken:
          type: string
          description: Quote token address
        quoteTokenUsdPrice:
          type: string
          description: USD price of quote token
        usdAmount:
          type: string
          description: Total USD value of this trade
        status:
          type: integer
          description: "Trade status: 1=Pending, 2=Filled, 3=Canceled, 4=Expired, 5=Failed"
        statusEnum:
          type: string
          description: Human-readable status
          enum: [Pending, Filled, Canceled, Expired, Failed]
        chainId:
          type: string
          description: Chain ID
        createdAt:
          type: integer
          format: int64
          description: Creation timestamp

    # Position schemas
    PositionsResponse:
      type: object
      properties:
        total:
          type: integer
          format: int64
          description: Total number of positions
        list:
          type: array
          items:
            $ref: "#/components/schemas/PositionData"

    PositionData:
      type: object
      properties:
        marketId:
          type: integer
          format: int64
          description: Market ID
        marketTitle:
          type: string
          description: Market title
        marketStatus:
          type: integer
          description: "Market status: 1=Created, 2=Activated, 3=Resolving, 4=Resolved, 5=Failed, 6=Deleted"
        marketStatusEnum:
          type: string
          description: Human-readable market status
        marketCutoffAt:
          type: integer
          format: int64
          description: Market cutoff timestamp
        rootMarketId:
          type: integer
          format: int64
          description: Root market ID (for categorical markets)
        rootMarketTitle:
          type: string
          description: Root market title
        outcome:
          type: string
          description: Outcome label
        outcomeSide:
          type: integer
          description: "Outcome side: 1=Yes, 2=No"
          enum: [1, 2]
        outcomeSideEnum:
          type: string
          description: Human-readable outcome side
          enum: [Yes, No]
        sharesOwned:
          type: string
          description: Number of shares owned
        sharesFrozen:
          type: string
          description: Number of shares frozen (in pending orders)
        unrealizedPnl:
          type: string
          description: Unrealized profit/loss
        unrealizedPnlPercent:
          type: string
          description: Unrealized profit/loss percentage
        dailyPnlChange:
          type: string
          description: Daily PnL change
        dailyPnlChangePercent:
          type: string
          description: Daily PnL change percentage
        conditionId:
          type: string
          description: Condition ID
        tokenId:
          type: string
          description: Token ID
        currentValueInQuoteToken:
          type: string
          description: Current value in quote token (shares x current price)
        avgEntryPrice:
          type: string
          description: Average entry price
        claimStatus:
          type: integer
          description: "Claim status: 0=CanNotClaim, 1=WaitClaim, 2=Claiming, 3=ClaimFailed, 4=Claimed"
        claimStatusEnum:
          type: string
          description: Human-readable claim status
          enum: [CanNotClaim, WaitClaim, Claiming, ClaimFailed, Claimed]
        quoteToken:
          type: string
          description: Quote token address

    # Order schemas
    OrderListResponse:
      type: object
      properties:
        total:
          type: integer
          format: int64
          description: Total number of orders
        list:
          type: array
          items:
            $ref: "#/components/schemas/OrderData"
          description: List of orders

    OrderDetailResponse:
      type: object
      properties:
        orderData:
          $ref: "#/components/schemas/OrderData"

    OrderData:
      type: object
      description: Order record (list item or detail; detail includes trades)
      properties:
        orderId:
          type: string
          description: Order ID (transaction number)
        transNo:
          type: string
          description: Deprecated; use orderId instead
        status:
          type: integer
          description: "Order status: 1=pending, 2=filled, 3=canceled, 4=expired, 5=failed"
          enum: [1, 2, 3, 4, 5]
        statusEnum:
          type: string
          description: Human-readable status
          enum: [Pending, Finished, Canceled, Expired, Failed]
        marketId:
          type: integer
          format: int64
          description: Market ID
        marketTitle:
          type: string
          description: Market title
        rootMarketId:
          type: integer
          format: int64
          description: Root market ID
        rootMarketTitle:
          type: string
          description: Root market title
        side:
          type: integer
          description: "Side: 1=buy, 2=sell"
          enum: [1, 2]
        sideEnum:
          type: string
          description: Human-readable side
          enum: [Buy, Sell]
        tradingMethod:
          type: integer
          description: "Trading method: 1=market, 2=limit"
        tradingMethodEnum:
          type: string
          description: Human-readable trading method
          enum: [Market, Limit]
        outcome:
          type: string
          description: Outcome label
        outcomeSide:
          type: integer
          description: "Outcome side: 1=yes, 2=no"
          enum: [1, 2]
        outcomeSideEnum:
          type: string
          description: Human-readable outcome side
          enum: [Yes, No]
        price:
          type: string
          description: Price per share (for limit orders)
        orderShares:
          type: string
          description: Total shares in order
        orderAmount:
          type: string
          description: Total amount in order (quote token)
        filledShares:
          type: string
          description: Filled shares
        filledAmount:
          type: string
          description: Filled amount (quote token)
        profit:
          type: string
          description: Profit/loss
        quoteToken:
          type: string
          description: Quote token address
        createdAt:
          type: integer
          format: int64
          description: Creation timestamp (milliseconds)
        expiresAt:
          type: integer
          format: int64
          description: Expiration timestamp (milliseconds)
        trades:
          type: array
          items:
            $ref: "#/components/schemas/OrderTradeData"
          description: Related trades (only present in order detail response)

    OrderTradeData:
      type: object
      description: Trade record within an order detail
      properties:
        orderNo:
          type: string
          description: Order number
        tradeNo:
          type: string
          description: Trade number
        txHash:
          type: string
          description: Transaction hash
        marketId:
          type: integer
          format: int64
        marketTitle:
          type: string
        rootMarketId:
          type: integer
          format: int64
        rootMarketTitle:
          type: string
        side:
          type: string
        outcome:
          type: string
        outcomeSide:
          type: integer
          enum: [1, 2]
        outcomeSideEnum:
          type: string
          enum: [Yes, No]
        price:
          type: string
        shares:
          type: string
        amount:
          type: string
        fee:
          type: integer
          format: int64
          description: Fee in wei
        feeFormatted:
          type: string
          description: Human-readable fee
        profit:
          type: string
        quoteToken:
          type: string
        quoteTokenUsdPrice:
          type: string
        usdAmount:
          type: string
        status:
          type: integer
        statusEnum:
          type: string
        chainId:
          type: string
        createdAt:
          type: integer
          format: int64

  responses:
    BadRequestError:
      description: Bad request - invalid parameters
      content:
        application/json:
          schema:
            allOf:
              - $ref: "#/components/schemas/APIBaseResponse"
              - type: object
                properties:
                  code: {}
                  msg: {}

paths:
  # Market endpoints
  /market:
    get:
      tags: [Market]
      summary: Get market list
      description: Get a paginated list of all markets (categorical and binary)
      operationId: getMarketList
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page (max 20)
          schema:
            type: integer
            default: 10
            maximum: 20
        - name: status
          in: query
          description: Market status filter
          schema:
            type: string
            enum: [activated, resolved]
        - name: marketType
          in: query
          description: "Market type filter: 0=Binary, 1=Categorical, 2=All"
          schema:
            type: integer
            default: 0
            enum: [0, 1, 2]
        - name: sortBy
          in: query
          description: "Sort order: 1=new, 2=ending soon, 3=volume desc, 4=volume asc, 5=volume24h desc, 6=volume24h asc, 7=volume7d desc, 8=volume7d asc"
          schema:
            type: integer
            enum: [1, 2, 3, 4, 5, 6, 7, 8]
        - name: chainId
          in: query
          description: Chain ID filter
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/APIBaseResponse"
                  - type: object
                    properties:
                      result:
                        $ref: "#/components/schemas/MarketListResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"

  /market/{marketId}:
    get:
      tags: [Market]
      summary: Get binary market detail
      description: Get detailed information about a specific binary market
      operationId: getBinaryMarketDetail
      parameters:
        - name: marketId
          in: path
          required: true
          description: Market ID
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/APIBaseResponse"
                  - type: object
                    properties:
                      result:
                        $ref: "#/components/schemas/MarketDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"

  /market/categorical/{marketId}:
    get:
      tags: [Market]
      summary: Get categorical market detail
      description: Get detailed information about a specific categorical market including child markets
      operationId: getCategoricalMarketDetail
      parameters:
        - name: marketId
          in: path
          required: true
          description: Market ID
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/APIBaseResponse"
                  - type: object
                    properties:
                      result:
                        $ref: "#/components/schemas/MarketDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"

  # Token endpoints
  /token/latest-price:
    get:
      tags: [Token]
      summary: Get latest price
      description: Get the latest trade price and details for a specific token
      operationId: getLatestPrice
      parameters:
        - name: token_id
          in: query
          required: true
          description: Token ID
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/APIBaseResponse"
                  - type: object
                    properties:
                      result:
                        $ref: "#/components/schemas/LatestPriceResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"

  /token/orderbook:
    get:
      tags: [Token]
      summary: Get orderbook
      description: Get the orderbook (market depth) for a specific token
      operationId: getOrderbook
      parameters:
        - name: token_id
          in: query
          required: true
          description: Token ID
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/APIBaseResponse"
                  - type: object
                    properties:
                      result:
                        $ref: "#/components/schemas/OrderbookResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"

  /token/price-history:
    get:
      tags: [Token]
      summary: Get price history
      description: Get historical price data for a specific token (Polymarket-compatible format)
      operationId: getPriceHistory
      parameters:
        - name: token_id
          in: query
          required: true
          description: Token ID
          schema:
            type: string
        - name: interval
          in: query
          description: "Price data interval: 1m, 1h, 1d, 1w, max"
          schema:
            type: string
            default: "1d"
            enum: ["1m", "1h", "1d", "1w", "max"]
        - name: start_at
          in: query
          description: Start timestamp in Unix seconds
          schema:
            type: integer
            format: int64
        - name: end_at
          in: query
          description: End timestamp in Unix seconds
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/APIBaseResponse"
                  - type: object
                    properties:
                      result:
                        $ref: "#/components/schemas/PriceHistoryResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"

  # QuoteToken endpoint
  /quoteToken:
    get:
      tags: [QuoteToken]
      summary: Get quote token list
      description: Retrieve a list of quote tokens (trading pair quote currencies)
      operationId: getQuoteTokenList
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          description: Number of items per page
          schema:
            type: integer
            default: 10
        - name: quoteTokenName
          in: query
          description: Filter by quote token name
          schema:
            type: string
        - name: chainId
          in: query
          description: Filter by chain ID
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/APIBaseResponse"
                  - type: object
                    properties:
                      result:
                        $ref: "#/components/schemas/QuoteTokenListResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"

  # Trade endpoint
  /trade/user/{walletAddress}:
    get:
      tags: [Trade]
      summary: Get user trades
      description: Get trades of a specific user by wallet address. Only returns filled (successful) trades. Results are sorted by creation time (descending).
      operationId: getUserTrades
      parameters:
        - name: walletAddress
          in: path
          required: true
          description: Target user's wallet address
          schema:
            type: string
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page (max 20)
          schema:
            type: integer
            default: 10
            maximum: 20
        - name: marketId
          in: query
          description: Market ID filter
          schema:
            type: integer
            format: int64
        - name: chainId
          in: query
          description: Chain ID filter
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/APIBaseResponse"
                  - type: object
                    properties:
                      result:
                        $ref: "#/components/schemas/UserTradeListResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"

  # Position endpoint
  /positions/user/{walletAddress}:
    get:
      tags: [Position]
      summary: Get user positions
      description: Get positions (portfolio) of a specific user by wallet address. Results are sorted by position size (descending).
      operationId: getUserPositions
      parameters:
        - name: walletAddress
          in: path
          required: true
          description: Target user's wallet address
          schema:
            type: string
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page (max 20)
          schema:
            type: integer
            default: 10
            maximum: 20
        - name: marketId
          in: query
          description: Market ID filter
          schema:
            type: integer
            format: int64
        - name: chainId
          in: query
          description: Chain ID filter
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/APIBaseResponse"
                  - type: object
                    properties:
                      result:
                        $ref: "#/components/schemas/PositionsResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"

  # Order endpoints
  /order:
    get:
      tags: [Order]
      summary: Get orders
      description: >
        Get the authenticated user's orders with optional filters.
        Supports pagination and status filter (numeric or comma-separated, e.g. "1,2,3").
        Status 1=pending, 2=filled, 3=canceled, 4=expired, 5=failed.
      operationId: getOrderList
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of items per page (max 20)
          schema:
            type: integer
            default: 10
            maximum: 20
        - name: marketId
          in: query
          description: Market ID filter
          schema:
            type: integer
            format: int64
        - name: chainId
          in: query
          description: Chain ID filter
          schema:
            type: string
        - name: status
          in: query
          description: "Order status filter: single value (1-5) or comma-separated (e.g. 1,2,3)"
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/APIBaseResponse"
                  - type: object
                    properties:
                      result:
                        $ref: "#/components/schemas/OrderListResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"

  /order/{orderId}:
    get:
      tags: [Order]
      summary: Get order detail
      description: Get order detail by order ID for the authenticated user, including related trades.
      operationId: getOrderDetail
      parameters:
        - name: orderId
          in: path
          required: true
          description: Order ID (transaction number)
          schema:
            type: string
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/APIBaseResponse"
                  - type: object
                    properties:
                      result:
                        $ref: "#/components/schemas/OrderDetailResponse"
        "400":
          $ref: "#/components/responses/BadRequestError"
